*{
    margin: 0;
    padding: 0;
}

#cabeçalho{
    height: 15vh;
    width: 100vw;
}

.corPreto{
    background-image: linear-gradient(90deg, rgba(42, 155, 82, 1) 21%, rgba(235, 77, 159, 1) 76%);;
}

.corPreto a{
    color: white;
}

.corPreto a:hover{
    color: rgb(255, 189, 220);
}

.corPreto a:focus{
    color: rgb(184, 255, 157);
}

.body{
    overflow-x: hidden;
}

#p{
    width: 100vw;
    height: auto;
}